
*{
  font-family: poppins;
}
#loader {  
    visibility: hidden;
    border: 4px solid #f3f3f3; /* light grey */
    border-top: 4px solid #3498db; /* blue */
    width: 20px;
    margin: auto;
    margin-bottom: 7px;
    border-radius: 50%;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-top: 10px;
}
@keyframes spin {
  0%{transform: rotate(0deg);} 
  100%{transform: rotate(360deg);}
}
button {
  cursor: pointer;
}

